@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Georgia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




body{
  background-image: url("http://wycombemeenatchiammantemple.co.uk/images/home-banner-2.jpg");
}



/*This is the homepage section */

.full-screen-image {
 
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px); /* Adjust 80px to match the navbar height */
  border-radius: 16%;
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.homepage {
  background-blend-mode: multiply; /* Adjust the blend mode as needed */
}


.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.photo-frame {
  border: 5px solid white;
  padding: 10px;
  transform: rotate(-5deg);
  animation: photoFrameAnimation 3s infinite alternate; /* Animation for the photo frame */
}


.photo-frame img {
  max-width: 100%;
  height: 400px;
}

/*This is the navbar section */

.header-2 {
  background-color: transparent;
}


.navbar-curved-bg svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}


.navbar-curved-bg {
  background: linear-gradient(to bottom, #FFD700, #FFA500);
  border-bottom-left-radius: 50% 70px;
  border-bottom-right-radius: 50% 70px;
  overflow: hidden;
}

.welcome-text {
  font-size: 54px; /* Adjust the font size as needed */
  color: rgba(255, 255, 255, 0.993); /* Adjust the color as needed */
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out;
}

.animate-slide-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem; /* Adjust as needed */
  padding-right: 1rem; /* Adjust as needed */
  margin-left: auto;
  margin-right: auto;
  animation: slideIn 0.5s ease-in-out forwards;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.custom-link {
  color: #4a5568; /* Adjust as needed for text-gray-600 */
  text-decoration: none; /* Adjust as needed */
  transition: color 0.3s ease-in-out; /* Adjust the transition duration as needed */
  font-family: 'Pacifico', cursive;
 
}

.custom-link:hover {
  color: #667eea; /* Adjust as needed for hover:text-indigo-600 */
}

.custom-link.margin-right {
  margin-right: 1rem; /* Adjust as needed for mr-4 */
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-size {
  height: 50px; /* Adjust as needed for h-50 */
  width: 30px; /* Adjust as needed for w-30 */
}




/*This is the mobile section of both */


@media only screen and (max-width: 768px) {
  .full-screen-image {
    height: 100vh;
  }
  
  .welcome-text {
    font-size: 36px; /* Adjust the font size for smaller screens */
    color: rgba(255, 255, 255, 0.993); /* Adjust the color for smaller screens */
  }

  .left-section {
    text-align: center;
  }

  .photo-frame img {
    height: auto;
    max-width: 100%;
  }

  /* Navbar section for mobile */

  .header-2 {
    background-color: transparent;
  }

  .navbar-curved-bg svg {
    display: none; /* Hide the curved background on smaller screens if needed */
  }

  .navbar-curved-bg {
    border-radius: 0; /* Remove curved border on smaller screens */
    background: linear-gradient(to bottom, #FFD700, #FFA500);
  }

  .welcome-text {
    font-size: 23px; /* Adjust the font size for smaller screens */
  }

  .animate-fadeInUp {
    animation: fadeInUp 1s ease-out;
  }

  .animate-slide-in {
    flex-direction: column; /* Adjust flex direction for smaller screens */
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem; /* Adjust padding as needed for smaller screens */
    padding-right: 0.5rem; /* Adjust padding as needed for smaller screens */
  }

  .custom-link {
    font-size: 14px; /* Adjust font size for smaller screens */
    margin-right: 0.5rem; /* Adjust margin for smaller screens */
  }

  .image-size {
    height: 30px; /* Adjust as needed for smaller screens */
    width: 20px; /* Adjust as needed for smaller screens */
  }
  

}
.animate-gradient {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #4F46E5, #D53CF5);
  animation: moveGradient 5s linear infinite;
}





.scrolling-list {
  /*display: flex;
  flex-direction: column;*/
  overflow: hidden;
  max-height: 300px; /* Adjust the maximum height of the scrolling area */
}

.scrolling-list.active {
  animation: scrollList 10s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes scrollList {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}






.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for opacity */
}




.navbar-bg {
  background: linear-gradient(to bottom, #4F46E5, #D53CF5);
  position: relative;
  overflow: hidden;
}


.homepage {
  background-blend-mode: multiply; /* Adjust the blend mode as needed */
}






.rolling-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-frame1 {
  border: 5px solid white;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  transform: rotate(-5deg);
}

.photo-frame img {
  max-width: 100%;
  height: 400px;
}











.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




@keyframes fadeInUp {
   0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.photo-frame {
  border: 5px solid white;
  padding: 10px;
  transform: rotate(-5deg);
  animation: photoFrameAnimation 3s infinite alternate; /* Animation for the photo frame */
}

@keyframes photoFrameAnimation {
  0% {
    transform: rotate(-5deg) scale(1);
  }
  100% {
    transform: rotate(5deg) scale(1.05);
  }
}








.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

